@use "carbon-adeni-tokens" as *;
@use "carbon-components";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html[data-theme="light"] {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  background: var(--bg-subtle);
  color: var(--text);
}

code {
  font-size: 0.9em;
}
